<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ADBannerScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE44AC0E1C1587E1004D46F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE44AC271C1587E2004D46F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE44AC321C1587E2004D46F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
